@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
.positioned-image {
    position: absolute;
    left: 36px;
    top: 36px;
    width: 186.89px;
    height: 108.18px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s forwards;
    animation-delay: 0.1s;
}
body {
    font-family: 'Yusei Magic', sans-serif;
    font-weight: 400;
    color: black;
    margin: 0;
    position: relative;
    height: 100vh;
}

header {
    height: 83px;
    display: flex;
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
    text-decoration-thickness: 2px; /* Espessura da linha */
    text-underline-offset: 6px;
    z-index: 2;
}
.header-menu {
    display: flex;
    justify-content: center;
    margin: 60px auto 2px auto;
    bottom: 0;
    gap: 110px;
    z-index: 2;
}
.header-menu a {
    color: black;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s forwards;
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3 ease-in-out;
}

.header-menu a:hover {
    transform: scale(1.1);
    color: #4a5048;
}

.header-menu a:nth-child(1) {
    animation-delay: 0.2s;
}
.header-menu a:nth-child(2) {
    animation-delay: 0.4s;
}
.header-menu a:nth-child(3) {
    animation-delay: 0.6s;
}
.header-menu a:nth-child(4) {
    animation-delay: 0.8s;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-direction: column;
}

.product-card {
    margin-top: 100px;
    width: 1200px;
    background-color: rgb(221, 210, 210);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(30px);
    animation: fadeInUp 0.8s forwards;
    animation-delay: 0.8s;
    font-size: 28px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
}
.product-img {
    width: 490px;
    height: 490px;
}
.product-content {
    flex: 1;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/imagem_textura_2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at 50% 50%, #708f94, #c3a5d4);
    background-size: 200% 100%;
    animation: animateRadial 10s ease-in-out infinite alternate;
    z-index: -1;
    pointer-events: none;
    opacity: 0.7;
}
@media (max-width: 470px) {
    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('../img/imagem_textura_2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -2;
    }
    .positioned-image {
        position: absolute;
        left: 2%;
        top: 1%;
        width: 5.84rem;
        height: 3.38rem;
        opacity: 0;
        transform: translateY(30px);
        animation: fadeInUp 0.8s forwards;
        animation-delay: 0.1s;
    }
    header {
        height: 7.68%;
        width: 100vw;
        display: flex;
        font-size: 80%;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
        text-decoration: underline;
        text-decoration-thickness: 2px; /* Espessura da linha */
        text-underline-offset: 6px;
        z-index: 2;
    }
    main {
        width: 100vw;
        margin: 0%;
        padding: 0%;
        left: 0%;
        margin-top: 15%;
    }
    .header-menu {
        width: 100%; /* Ajustado para 100% */
        justify-content: space-evenly; /* Substitui o gap por um espaçamento uniforme */
        display: flex;
        margin: 0px;
        padding: 0%;
        bottom: 0;
        margin-top: 20%;
        z-index: 2;
        gap: 0px;
    }
    .header-menu a {
        opacity: 0;
        transform: translateY(30px);
        animation: fadeInUp 0.8s forwards;
        color: black;
    }
    body {
        font-family: 'Yusei Magic', sans-serif;
        font-weight: 400;
        height: 100vh;
        width: 100vw;
        color: black;
        margin: 0px;
        padding: 0px;
        position: relative;
    }

    .product-card {
        width: 80%;
        background-color: rgb(221, 210, 210);
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
        transform: translateY(30px);
        animation: fadeInUp 0.8s forwards;
        animation-delay: 0.8s;
        font-size: 130%;
        padding: 0px;
        border-radius: 10px;
        display: flex;
        margin: 0px;
        flex-direction: column;
        align-items: center;
        margin-top: 1%;
        margin-bottom: 10%;
        box-sizing: border-box;
        padding: 3%;
    }
    .product-img {
        width: 300px;
        height: 300px;
    }
    .product-content {
        flex: 1;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        gap: 30px;
        align-items: center;
        justify-content: center;
        text-align: left;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    }
}
