<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar produtos</title>
    <link rel="stylesheet" href="/src/view/assets/styles/add_products.css" />
  </head>
  <body>
    <header class="header-principal">
      <nav class="nav-principal">
        <ul>
          <li><a href="./sobre-nos.html">Sobre nós</a></li>
          <li><a href="#contato">Contato</a></li>
          <li>
            <a href="/src/view/pages/products.html">Nossos Produtos</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main-form">
      <div class="form-container">
        <input
          type="text"
          placeholder="Insira aqui o título do produto"
          id="input-title"
        />
        <input
          type="text"
          placeholder="cole aqui o url da imagem na web, ex: https://picsum.photos/200/300"
          id="input-img-url"
        />
        <textarea
          placeholder="Digite o texto do item"
          id="textarea-text"
        ></textarea>
        <button class="submit-button">Adicionar Produto</button>
        <div id="cards"></div>
      </div>
    </main>

    <footer>
      <p>
        &copy; <span id="year"></span> - Feito por Projeto Integrador - Todos os
        direitos reservados
      </p>
    </footer>

    <script src="/src/view/assets/js/script.js"></script>
    <script src="/src/view/assets/js/add_products.js"></script>
  </body>
</html>
