<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/src/view/assets/styles/login.css" />
  </head>
  <body>
    <div class="login-container">
      <img src="/src/view/assets/img/User-circle-03.png" alt="Login Icon" />
      <input type="text" id="username" placeholder="Usuário" required />
      <input type="password" id="password" placeholder="Senha" required />
      <button class="submit-button" onclick="login()">Entrar</button>
      <div class="status" id="status"></div>
    </div>

    <script src="/src/view/assets/js/login.js"></script>
  </body>
</html>
