<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/view/assets/styles/products.css" />
    <link rel="stylesheet" href="/src/view/assets/styles/contato.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <aside id="menu">
      <section>
        <a href="./sobre-nos.html">Sobre nós</a>
        <a href="#">Vendas</a>
        <a href="./contato.html">Contatos</a>
        <a href="./login.html">Funcionários</a>
      </section>
    </aside>
    <main class="main-content">
      <h1 class="main-title">Pitera Box</h1>
      <div id="products_session"></div>

      <footer>
        <p>
          &copy; <span id="year"></span> - Feito por Projeto Integrador - Todos
          os direitos reservados
        </p>
      </footer>
    </main>
    <div id="fita-verde"></div>
    <div id="fita-marrom"></div>
  </body>
  <script src="/src/view/assets/js/script.js"></script>
  <script src="/src/view/assets/js/products.js"></script>
</html>
