<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre nós</title>
    <link rel="stylesheet" href="/src/view/assets/styles/sobre-nos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img class="banner" src="/" alt="" />
      <a class="back-button" href="/src/view/pages/products.html"
        ><img src="/src/view/assets/img/voltar.png" alt=""
      /></a>
    </header>

    <main>
      <div class="left-image">
        <img class="img-about" src="/src/view/assets/img/img-3.jpg" alt="" />
      </div>
      <div class="right-text">
        <p>
          Na Pitera Box, acreditamos que cuidar do planeta é tão importante
          quanto cuidar dos detalhes.
          <br />
          <br />
          Por isso, nossos produtos são feitos com materiais ecológicos,
          processos sustentáveis e pensados para um descarte consciente.
          <br />
          <br />Porque estilo e responsabilidade podem e devem andar juntos.
          <br />
          <br />
          Junte-se a nós nessa jornada por um futuro mais verde!
          <br />
        </p>
      </div>
    </main>
  </body>
</html>

<!-- <img class="main-img" src="/img/img-4.png" alt="Imagem 1" />

<div class="section">
    <img src="/img/img-3.jpg" alt="Imagem 1" />
    <div class="section-text-rigth">
        <p>
            Na Pitera Box, acreditamos que cuidar do planeta é tão importante
            quanto cuidar dos detalhes. Por isso, nossos produtos são feitos com
            materiais ecológicos, processos sustentáveis e pensados para um
            descarte consciente. Porque estilo e responsabilidade podem e devem
            andar juntos.
            <br />
            Junte-se a nós nessa jornada por um futuro mais verde!.
        </p>
    </div>
</div> -->
