<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Orçamentos</title>
        <link rel="stylesheet" href="assets/css/reset.css" />
        <link rel="stylesheet" href="assets/css/budget.css" />
    </head>
    <body>
        <img src="assets/img/logo.png" class="positioned-image" />

        <header>
            <div class="header-menu">
                <a href="index.html">Home</a>
                <a href="products.html">Nosso Produtos</a>
                <a href="budget.html">Faça um orçamento</a>
                <a href="login.html">Funcionários</a>
            </div>
        </header>
        <main>
            <div id="products"></div>
            <div class="title">
                <span class="main_title_products">Produto</span
                ><span class="main_title_quantity">Quantidade</span
                ><span class="main_title_total">Total</span>
            </div>
            <div id="products_insertion_div"></div>
            <button class="whastapp_button" id="whastapp_button_id">
                Faça agora o seu orçamento!!!
                <img src="assets/img/whatsapp_icon.png" />
            </button>
        </main>
        <script src="assets/js/budget.js"></script>
    </body>
</html>
