<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login - LBox</title>
        <link rel="stylesheet" href="assets/css/reset.css" />
        <link rel="stylesheet" href="assets/css/products.css" />
    </head>
    <body>
        <img src="assets/img/logo.png" class="positioned-image" />

        <header>
            <div class="header-menu">
                <a href="index.html">Home</a>
                <a href="products.html">Nosso Produtos</a>
                <a href="budget.html">Faça um orçamento</a>
                <a href="auth">Funcionários</a>
            </div>
        </header>
        <main id="products"></main>
    </body>
    <script src="assets/js/products.js"></script>
</html>
