* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: #423640;
}

.header-principal {
    background-color: black;
    padding: 10px 0;
    height: 60px;
    margin-top: -15px;
}

.nav-principal ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.nav-principal ul li {
    margin: 0 15px;
}

.nav-principal ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-principal ul li a:hover {
    color: #b291e7;
}

.main-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    flex: 1; /* Permite crescimento proporcional */
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#input-title,
#input-img-url,
#textarea-text {
    text-align: center;
    background-color: #b291e7;
    color: white;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

#input-title {
    padding-right: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

#input-img-url {
    padding-right: 40px;
    background-size: contain;
}

#textarea-text {
    height: 150px;
    resize: none;
    text-align: center;
    padding: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    line-height: 1.4;
}
.submit-button {
    display: block;
    margin: auto;
    font-size: 24px;
    font-family: Arial, sans-serif;
    padding: 3px 40px 3px 40px;
    border-radius: 10px;
    cursor: pointer;
}
.submit-button:hover {
    filter: invert();
}
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 16px;
    padding: 20px;
    padding-bottom: 80px;
    text-align: center;
}

.product-card {
    position: relative;
    padding: 16px;
    margin: 12px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px;
}

.delete-btn {
    position: absolute;
    top: 6px;
    right: 8px;
    background-color: transparent;
    border: none;
    color: #888;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease;
}

.delete-btn:hover {
    color: red;
}

.product-content h3 {
    margin: 0 0 8px;
}

.product-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.product-content p {
    margin: 0;
    color: #444;
}

/* Estilo para o rodapé */
footer {
    color: white;
    text-align: center;
    padding: 16px 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}
