body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background: #423640;
}

/* Barra de navegação lateral */
.sidebar {
    top: 0;
    width: 200px;
    background-color: #c08cbd;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
}

.section-sidebar {
    width: 100%;
    background-color: beige;
}
/* .sidebar a {
    color: white;
    text-decoration: none;
    padding: 20px 68px;
    margin: 5px 0;
    background-color: rgb(11, 13, 121);
    border-radius: 5px;
    text-align: center;
    font-family: "Winky Sans", sans-serif;
} */

/* Conteúdo principal */
.main-content {
    width: 90%;
    height: 90%;
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.main-title {
    font-family: Moul;
    text-align: left;
    color: #ffff;
    margin-bottom: 30px;
}

.main-img {
    width: 70px;
    margin-bottom: 20px;
}

.section {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
    background-color: rgb(154, 140, 192);
    overflow: hidden;
    border-radius: 20px;
}

.section img {
    max-width: 300px;
    border-radius: 10px;
}

.section-text-right {
    flex: 1;
}

.section-text-left {
    flex: 1;
    margin-left: 20px;
}

.box-father {
    overflow: hidden;
}
